PORT=8080
N2YO_API_KEY=your_n2yo_api_key
TLE_DATA_PATH=

NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_WS_URL=ws://localhost:8080
NEXT_PUBLIC_CESIUM_TOKEN=your_cesium_ion_token_here
NEXT_PUBLIC_2GIS_MAPGL_KEY=bf09ad00-3dfd-4a2b-a2e8-328ad955afbe
